@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brixton-Sans-Lt';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Lt.ttf');
}
@font-face {
  font-family: 'Brixton-Sans-Outline';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Outline.ttf');
}
@font-face {
  font-family: 'Brixton-Sans-Rg';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Rg.ttf');
}

@font-face {
  font-family: 'Roboto_Condensed-Regular';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto_Condensed-Bold';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: 'Roboto_Condensed-Italic';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf');
}

html,
body {
  overflow-y: overlay; /* this avoids the screen "jumps" due to scrollbar hiding/showing*/
  padding: 0;
  margin: 0;
  font-family: 'Brixton-Sans-Rg', 'Roboto_Condensed-Regular', sans-serif;
}

h1,
h2 {
  font-family: 'Brixton-Sans-Outline', 'Roboto_Condensed-Bold', sans-serif;
}

h1 {
  @apply text-8xl;
}

h2 {
  @apply text-3xl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgVariant {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.mainimg {
  width: 90vw;
  position: absolute;
  opacity: 0.2;
}
