@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brixton-Sans-Lt';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Lt.ttf');
}
@font-face {
  font-family: 'Brixton-Sans-Outline';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Outline.ttf');
}
@font-face {
  font-family: 'Brixton-Sans-Rg';
  src: url('/fonts/Brixton_Sans/Brixton-Sans-Rg.ttf');
}

@font-face {
  font-family: 'Roboto_Condensed-Regular';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto_Condensed-Bold';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
  font-family: 'Roboto_Condensed-Italic';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf');
}

html,
body {
  overflow-y: overlay; /* this avoids the screen "jumps" due to scrollbar hiding/showing*/
  padding: 0;
  margin: 0;
  font-family: 'Brixton-Sans-Rg', 'Roboto_Condensed-Regular', sans-serif;
}

h1,
h2 {
  font-family: 'Brixton-Sans-Outline', 'Roboto_Condensed-Bold', sans-serif;
}

h1 {
  @apply text-6xl sm:text-8xl;
}

h2 {
  @apply text-2xl sm:text-3xl;
}

input,
textarea {
  @apply rounded border border-slate-400 
  bg-slate-600  opacity-80 p-2 outline-none 
  ring-slate-400 focus:ring;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  font-family: 'Brixton-Sans-Outline';
  @apply bg-transparent border-b-2
    border-dotted border-b-slate-300;
}

option {
  @apply bg-slate-700;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgVariant {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.mainimg {
  width: 90vw;
  position: absolute;
  opacity: 0.2;
}

.primary-button {
  @apply rounded border-2 py-2 px-4 shadow outline-none
   bg-slate-600 border-slate-400
   hover:bg-slate-700 hover:border-slate-500
   active:bg-slate-800 hover:border-slate-600;
}
.default-button {
  @apply rounded bg-gray-100 py-2 px-4 
   shadow outline-none hover:bg-gray-700 active:bg-gray-800;
}
.minimalistic-button {
  @apply shadow outline-none   
   hover:text-slate-500
  active:text-slate-800;
}

.toast {
  font-family: 'Roboto_Condensed-Regular', sans-serif;
  @apply bg-slate-700 text-slate-400;
}
