

# MAINTENANCE_MODE=1
# BUILDING_MODE=1

NEXT_PUBLIC_COMPANY=EXAMPLE_COMPANY
NEXT_PUBLIC_ENV_NAME=example

# can be generated with: openssl rand -base64 32
NEXTAUTH_SECRET=
#this is passed in url as a param: so, avoid special chars that will be url-encoded
REVALIDATION_SECRET=

DB_PATH="./db"
